<div class="home-button-container">

  <div class="card-home-container">
    <%= link_to activities_path(activity: { category: 'Handicrafts', address: '' }) do %>
      <div class="category-card">
        <img class="category-image" src="https://images.unsplash.com/photo-1615640325967-af4cfa4c0c6a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGFuZGljcmFmdHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" width=100 height=100>
        <div class="info-card-home">
          <h3> Handicrafts </h3>
          <p><small>Craft the things you want</small></p>
        </div>
      </div>
      <% end %>
  </div>

  <div class="card-home-container">
    <%= link_to activities_path(activity: { category: 'Adventure', address: '' })do %>
      <div class="category-card">
      <img class="category-image" src="https://images.unsplash.com/photo-1527610276295-f4c1b38decc5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGFkdmVudHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" width=100 height=100>
        <div class="info-card-home">
        <h3> Adventure </h3>
        <p><small>Adventure or nothing</small></p>
        </div>
      </div>
    <% end %>
  </div>


    <div class="card-home-container">
      <%= link_to activities_path(activity: { category: 'Games', address: '' }) do %>
        <div class="category-card">
        <img class="category-image" src="https://images.unsplash.com/photo-1539387893102-c0e198446a35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGdhbWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" width=100 height=100>
          <div class="info-card-home">
            <h3> Games </h3>
            <p><small>Join and play</small></p>
          </div>
        </div>
      <% end %>
  </div>

      <div class="card-home-container">
        <%= link_to activities_path(activity: { category: 'Education', address: '' }) do %>
          <div class="category-card">
          <img class="category-image" src="https://images.unsplash.com/photo-1558021211-6d1403321394?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=736&q=80" width=100 height=100>
          <div class="info-card-home">
            <h3> Education </h3>
            <p><small>A family of learning</small></p>
          </div>
        </div>
      <% end %>
    </div>

      <div class="card-home-container">
        <%= link_to activities_path(activity: { category: 'Culture', address: '' }) do %>
        <div class="category-card">
        <img class="category-image" src="https://images.unsplash.com/photo-1508519829430-40f7d3d161b4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGN1bHR1cmV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" width=100 height=100>
          <div class="info-card-home">
            <h3> Culture</h3>
            <p><small>Diversity is inspiring</small></p>
          </div>
        </div>
      <% end %>
      </div>

      <div class="card-home-container">
        <%= link_to activities_path(activity: { category: 'Music', address: '' }) do %>
        <div class="category-card">
        <img class="category-image" src="https://images.unsplash.com/photo-1568219656418-15c329312bf1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGFibGF8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" width=100 height=100>
          <div class="info-card-home">
            <h3> Music</h3>
            <p><small>Got Music?</small></p>
          </div>
        </div>
      <% end %>
    </div>

<div class="card-home-container">
        <%= link_to activities_path(activity: { category: 'Collectibles', address: '' }) do %>
        <div class="category-card">
        <img class="category-image" src="https://images.unsplash.com/photo-1609200660087-e23d23d7e958?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGNvbGxlY3RpYmxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" width=100 height=100>
          <div class="info-card-home">
            <h3> Collectibles</h3>
            <p><small>Are you excited?</small></p>
          </div>
        </div>
      <% end %>
    </div>

   <div class="card-home-container">
        <%= link_to activities_path(activity: { category: 'Food', address: '' }) do %>
        <div class="category-card">
        <img class="category-image" src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60  " width=100 height=100>
          <div class="info-card-home">
            <h3> Food</h3>
            <p><small>Taste is new Trending</small></p>
          </div>
        </div>
      <% end %>
    </div>
</div>
