<div class="container">
  <h1>Your dashboard</h1>
  <h2>Incoming join requests</h2>
  <div class="incoming">
        <% @incoming_bookings.each do |booking| %>
          <div class="card-product">
            <%= cl_image_tag booking.activity.photo.key, height: 300, width: 400, crop: :fill, class: "activity-img" %>
            <div class="card-product-infos">
              <h2><%=link_to booking.activity.title, activity_path(booking.activity) %></h2>
              <p><strong>Request from:</strong> <%= booking.user.email %></p>
              <%= link_to "Accept", accept_path(booking), method: :patch, class: "btn btn-success requestbtn" %>
              <%= link_to "Decline", decline_path(booking), method: :patch, class: "btn btn-danger requestbtn" %>
            </div>
          </div>
        <% end %>
  </div>


  <div class="outgoing">
    <h2>Outgoing join requests</h2>
    <% @outgoing_bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag booking.activity.photo.key, height: 300, width: 400, crop: :fill, class: "activity-img" %>
        <div class="card-product-infos">
          <h2><%=link_to booking.activity.title, activity_path(booking.activity) %></h2>
          <p><strong>Status: </strong><%= booking.status %></p>
        </div>
      </div>
      <% end %>
  </div>


</div>
