<div class="container">
  <h1>Your dashboard</h1>
  <h2>Incoming join requests</h2>
  <div class="incoming">
      <ul>
        <% @incoming_bookings.each do |booking| %>
            <li><strong>Activity:</strong> <%=link_to booking.activity.title, activity_path(booking.activity) %>, <strong>Request from:</strong> <%= booking.user.email %>, <strong>Status:</strong> <%= booking.status %> || <%= link_to "Accept", accept_path(booking), method: :patch %> / <%= link_to "Decline", decline_path(booking), method: :patch %> </li>
        <% end %>
      </ul>
  </div>


  <div class="outgoing">
    <h2>Outgoing join requests</h2>
    <% @outgoing_bookings.each do |booking| %>
      <ul>
        <li><strong>Activity: </strong><%= link_to booking.activity.title, activity_path(booking.activity) %>, <strong>Status: </strong><%= booking.status %></li>
      </ul>
    <% end %>
  </div>
</div>
