<div class="container">
  <%# <h1>Your Activitease Dashboard</h1> %>
  <div class="heading-style">
  <h2 style="margin-bottom: 25px;">Activity requests</h2>
  </div>
  <div class="incoming">
        <% @incoming_bookings.each do |booking| %>
          <div class="card-product">
            <%= cl_image_tag booking.activity.photo.key, height: 300, width: 400, crop: :fill, class: "activity-img" %>
            <div class="card-product-infos">
              <h2><%=link_to booking.activity.title, activity_path(booking.activity) %></h2>
              <p><strong>Request from:</strong> <%= booking.user.nickname %></p>
                <%= link_to "Accept", accept_path(booking), method: :patch, class: "btn btn-success requestbtn" %>
                <%= link_to "Decline", decline_path(booking), method: :patch, class: "btn btn-danger requestbtn" %>
            </div>
          </div>
        <% end %>
  </div>
    <div class="heading-style">
    <h2 style="margin-bottom: 25px;", >Joined activities</h2>
    </div>
  <div class="outgoing">
    <% @outgoing_bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag booking.activity.photo.key, height: 300, width: 400, crop: :fill, class: "activity-img" %>
        <div class="card-product-infos">
          <h2><%=link_to booking.activity.title, activity_path(booking.activity) %></h2>
          <ul>
          <% if booking.status == "pending" %>
          <li class="status pending"><strong>Status: </strong><%= booking.status %></li>
          <% elsif booking.status == "accepted" %>
          <li class="status accepted"><strong>Status: </strong><%= booking.status %></li>
          <% else %>
          <li class="status declined"><strong>Status: </strong><%= booking.status %></li>
          <% end %>
          </ul>
        </div>
        <div class= "chat-link">
        <% if booking.status == "accepted" %>
          <%= link_to "Get in touch", chatroom_path(booking.chatroom), class: "btn btn-outline-warning"%>
        <% end %>
        </div>
      </div>
      <% end %>
  </div>
      <div class="heading-style">
      <h2 style="margin-bottom: 25px;">Hosting activities</h2>
      </div>
  <div class="incoming">
        <% @upcoming_bookings.each do |booking| %>
          <div class="card-product">
            <%= cl_image_tag booking.activity.photo.key, height: 300, width: 400, crop: :fill, class: "activity-img" %>
            <div class="card-product-infos">
              <h2><%=link_to booking.activity.title, activity_path(booking.activity) %></h2>
              <p><strong>Request from:</strong> <%= booking.user.nickname %></p>
                <%= link_to "Get in touch", chatroom_path(booking.chatroom), class: "incomingchat-link btn btn-outline-warning" %>
            </div>
          </div>
        <% end %>
  </div>


</div>
