<div class="container">
  <h1>Your dashboard</h1>
  <h2>Incoming join requests</h2>
  <div class="incoming">
      <ul>
      <% @activities.each do |activity| %>
        <% activity.bookings.each do |booking| %>
            <li><strong>Activity:</strong> <%=link_to activity.title, activity_path(activity) %>, <strong>Request from:</strong> <%= booking.user.email %>, <strong>Status:</strong> <%= booking.status %> || <%= link_to "Accept", dashboard_accept_path(booking) %> / <%= link_to "Decline", dashboard_decline_path(booking) %> </li>
        <% end %>
      <% end %>
      </ul>
  </div>


  <div class="outgoing">
    <h2>Outgoing join requests</h2>
    <% @bookings = Booking.where(user_id: current_user.id) %>
    <% @bookings.each do |booking| %>
      <% activity = booking.activity_id %>
      <% status = booking.status %>
    <% @activities = Activity.where(id: activity) %>
      <ul>
        <% @activities.each do |activity| %>
        <li><strong>Activity: </strong><%= link_to activity.title, activity_path(activity) %>, <strong>Status: </strong><%= status %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
