<div class="container">
  <h1>This is our activities index page</h1>
  <p>It really is...</p>

  <div class="activity_cards">
    <% @activities.each do |activity| %>
      <div class="card-activity">
        <% if activity.photo.attached? %>
          <%= cl_image_tag activity.photo.key, height: 300, width: 400, crop: :fill, class: "activity-img" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80", class: "activity-img" %>
        <% end %>
        <div class="card-activity-infos">
          <h3><%= link_to activity.title, activity_path(activity) %></h3>
          <p><%= activity.description %></p>
        </div>
      </div>
    <% end %>
  </div>



  <%= link_to "Get your activity listed!", new_activity_path, class: "btn btn-outline-warning" %>
</div>
