<div class="container">
  <h2>This is our activities index page</h2>

  <%# <div class="search d-flex align-items-center justify-content-center"> %>
    <div class="entire-sbar">
      <div class="search-bar">
        <%= simple_form_for :activity, url: activities_path, method: :get, html: { class: 'form-inline' } do |f| %>
          <%= f.input :category, collection: Activity::CATEGORIES, prompt: 'Category', label: "I'm looking for", required: false %>
          <%= f.input :address, label: "in", required: false, placeholder: 'Location' %>
          <%= f.button :submit, 'Go!', class: 'form-group btn-go btn-font' %>
        <% end %>
      </div>
    </div>
  <%# </div> %>

  <div class="activity-flex">
    <div class="activity_cards">
      <% @activities.each do |activity| %>
        <div class="card-activity">
          <% if activity.photo.attached? %>
            <%= cl_image_tag activity.photo.key, height: 400, width: 400, crop: :fill, class: "activity-img" %>
          <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80", class: "activity-img" %>
          <% end %>
          <div class="card-activity-infos">
            <p><strong><%= activity.category %></strong></p>
            <h3><%= link_to activity.title, activity_path(activity) %></h3>
            <p><strong>From: </strong><%= activity.date_from %> <strong>To: </strong><%= activity.date_to %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div id="map"
      style= "width: 100%; height: 600px;"
      data-markers= "<%= @markers.to_json %>"
      data-mapbox-api-key= "<%= ENV['MAPBOX_API_KEY']%>">
    </div>
  </div>

  <%= link_to "Get your activity listed!", new_activity_path, class: "btn btn-outline-warning" %>
</div>
