<div class="container">
  <div class="flex-container">
    <div class="upper-card">
      <div class=act-image>
        <% if @activity.photo.attached? %>
          <%= cl_image_tag @activity.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img class="activity-img" src="https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc">
        <% end %>
      </div>
      <div class="activity-details">
        <h5 class="cat-box"><span><%= @activity.category %></span></h5>
        <h1 style="text-align=justify"><strong><%= @activity.title %></strong></h1>
        <p><strong>From: </strong><%= @activity.date_from.strftime("%b %e, %l:%M %p") %> <strong>To: </strong><%= @activity.date_to.strftime("%b %e, %l:%M %p") %></p>
        <p><strong>Location:</strong> <%= @activity.address %></p>
        <% if @activity.user != current_user %>
        <%= link_to "<b>Join now!<b>".html_safe, activity_bookings_path(@activity), method: :post, class: "btn btn-outline-warning btn-lg" %>
        <% else %>
        <span class="badge badge-success">This is your activity</span>
        <% end %>
      </div>
    </div>
    <div class="activity-text">
      <p><strong>Description: </strong></p>
      <p><%= @activity.description %></p>
    </div>
  </div>




  <div class="edit-buttons">
    <% if @activity.user == current_user %>
      <%= link_to "Back to all activities", activities_path, class: "btn btn-outline-warning" %>
      <%= link_to "Edit activity", edit_activity_path(@activity), class: "btn btn-outline-warning" %>
      <%= link_to "Delete activity", activity_path(@activity), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
    <% else %>
      <%= link_to "Back to all activities", activities_path, class: "btn btn-outline-warning" %>
    <% end %>

  </div>
</div>
